Source: dovecot-plugin-libsodium
Section: net
Priority: extra
Maintainer: Giel van Schijndel <me@mortis.eu>
Build-Depends: autoconf (>= 2.56), automake (>= 1.10), cdbs (>= 0.4.89), debhelper (>= 9),
               dh-buildinfo, libsodium-dev, libtool (>= 1.5), dovecot-dev
Standards-Version: 3.8.3.0
VCS-Browser: https://github.com/LuckyFellow/dovecot-libsodium-plugin.git
VCS-Git: https://github.com/LuckyFellow/dovecot-libsodium-plugin.git

Package: dovecot-plugin-libsodium
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libsodium password hashing schemes plugin
 Adds support to dovecot for the 'scrypt' and 'argon2' password hashing schemes.
